.contact {background: #000000;color: #ffffff;font-size: 40px;text-transform: uppercase;
font-family: halvetica;font-weight: normal;letter-spacing: 2px;padding: 5px 0;
cursor:pointer; /*border:1px solid pink;*/}
.tabs{overflow: auto;/*border:1px solid;*/}
.tabs_ul{list-style: none;/*border:1px solid green;*/overflow: auto;font-size: 16px;
text-transform: uppercase;}
.tabs_ul li a{text-decoration: none;/*border:1px solid;*/
	padding: 20px 15px;float: left;color: #666666}
.tabs_ul li a:hover{border-bottom: 4px solid #ff5d3b;}
 .tab_class_contents{/*border:1px solid #eeeeee;*/padding:10px;margin-bottom: 20px;
 	background: #f9f9fa;padding-top: 30px}
 .tab_class_contents li{color: #999;font-size: 13px;text-transform: capitalize;
 	margin: 5px 0;list-style: none;letter-spacing: 0.5px;cursor: pointer;}
 .tab_class_contents li:hover{color: #ff5d3b}
 .tab_class_contents img{margin-top: 15px;}
 .tab_class_contents p{text-transform: uppercase;font-size: 14px;font-weight: bold;
 	/*border:1px solid;*/padding-top: 15px;padding-bottom: 5px;color: #333;
 	cursor: pointer;}
 .txt{margin-top: 15px;padding: 5px 0;padding-left: 10px;}
 .black_heading_01{background: #000000;padding: 14px 0;text-transform: uppercase;
 	border:1px solid #ffffff;color: #ffffff;font-size: 16px;cursor: pointer;
 	overflow: auto;cursor: pointer;}
.black_heading_02{background: #000000;padding: 14px 0;text-transform: capitalize;
 	border:1px solid #ffffff;color: #ffffff;font-size: 16px;cursor: pointer;
 	letter-spacing: 4px;overflow: auto;/*border:1px solid pink;*/overflow: auto;
 	cursor: pointer;}
 .cricket_fever p{color: gray;font-size: 14px}
 .cricket_fever h2, .hottest_trends h2,.corner_499 h2,.freshly_picked h2,
 .deals_you_cannot_miss h2,.bank_offers h2
 {text-transform: uppercase;color: #383535;
 	padding-top: 50px;font-size:26px }
 .cricket_fever p {padding: 10px 0}
 .cricket_fever {/*border:1px solid;*/ overflow: auto;}
 .crick_img {position: relative;overflow: hidden;}
 
  .blackbox{position: absolute;background: rgba(0, 0, 0, 0.7);  
 color: #f1f1f1; width: 308px;height: 280px;z-index: 2;bottom: 0;top: 0;
 }
.blackbox p{text-transform: uppercase;font-size: 30px;text-align: center;font-weight: bold;
 color: white;/*border:1px solid red;*/margin-top: 120px}
 .hottest_trends p{padding-top: 10px;padding-bottom: 30px;color: gray;font-size: 14px}
 .hottest_trends img{border-bottom: 2px solid #eee;}
 .After_8_Collection{padding-top: 40px}
 .corner_499 h2{padding-bottom: 30px}
 .freshly_picked h2{padding-bottom: 50px}
 .deals_you_cannot_miss{/*border:1px solid;*/overflow: auto}
.deals_you_cannot_miss h2,.bank_offers h2{padding-bottom: 30px}
.bank_offers{/*border:1px solid;*/overflow: auto;margin-bottom: 15px}
.footer_01 p{font-family: 'Dancing Script', cursive;
font-size: 35px;padding: 10px 0;color: #fff;}
.footer_01{background: #ccc;}
.footer_02{background: #f9f9fa;/*border:1px solid;*/overflow: auto;padding-top: 30px;
padding-bottom: 30px}
.footer_02 p{text-transform: uppercase;font-size: 14px;letter-spacing: 1px;
color: #615a5a;padding-bottom: 15px}
.footer_02 .Email{padding: 5px ;padding-right: 200px;text-transform: uppercase;}
.footer_02 .subscribe{padding: 5px 20px;text-transform: uppercase;color: #f94c4c;
background:#fdeaea;border:1px solid #dc8e8e;}
/*.subscription{padding-top: 15px}*/
.footer_03{overflow: auto;margin-bottom: 50px;padding-top: 25px;}
/*.footer_03 .img_size{height: 40px;width: 40px;}*/
.footer_03 .col-md-4 p{font-size: 11px;color: #bbb;padding-top: 10px}
.tollFree{font-size: 14px;color: gray}
.footer_03 h5{font-weight: bold;text-transform: uppercase;color: #6f6b6b;
padding-bottom:10px}
.footer_03 a{color: red;padding-top: 10px}
/*.footer_03 .border_right{border: 1px solid lightgray;overflow: auto;}*/
/*.footer_03 .col-md-2{overflow: auto;}*/
.footer_04{background: black;overflow: auto;padding: 30px 0;}
.footer_04 li{list-style: none;}
.footer_04 .headings{color: #fff;font-size: 14px;padding-bottom: 20px}
.footer_04 p{font-size: 12px;color: gray;text-transform: uppercase;padding-bottom: 5px}
.lower_footer_04{color: white;overflow: auto;padding-top: 20px;}
.upper_footer_04{overflow: auto;padding-bottom: 30px;border-bottom: 1px solid #4e4b4b}
.lower_footer_04 li{float: right;}
.lower_footer_04 li{overflow: auto;}
.lower_footer_04 p{color: white;font-size: 10px}
.footer_05 a{text-decoration: none;text-transform: uppercase;
	font-size: 14px;padding: 0 4px}
.footer_05 p{font-size: 14px;padding: 7px 0}
.footer_05{padding-top: 80px;/*border:1px solid;*/padding-left: 10px}
.footer_05_heading {padding-bottom: 10px;font-weight: bold;font-size: 18px;
/*border:1px solid;*/}
/*.slider .col-md-6{border:1px solid;}*/
.gallery{position: relative;}
/*.mainslide{border:1px solid red;}*/
.circles{position: absolute;bottom: 20px;width:100%;z-index: 12;text-align: center;
padding: 10px 0}
.circles span{background: #f1f1f1;width: 30px;height: 30px;border-radius: 50%;
display: inline-block;cursor: pointer;}
.circles span:first-child{background: #c1c1c1}
img{cursor: pointer;}
