/*http://psoftsolution.in/pepipostnew/email-pricing/*/
@media screen and (min-width: 992px){

	.table_02{padding: 60px 0}
	.table_02 th{font-size: 16px;text-align: center;}
	.table_02 td{font-size: 15px;padding: 2.5% !important;text-align: center;}
	.table_02 h2{margin-bottom: 20px;font-weight: bold}
	.table_02 table{margin: auto;margin-top: 5%;width: 80% !important}
	.table_02_tbody tr:hover{background-color: #fff}
	.text_black{background-color: #000;padding: 60px 0;color: #fff}
	.text_black p{margin-bottom: 30px;font-size: 16px}
	.text_black h1{margin-top:0;margin-bottom:30px;font-size: 30px;font-weight: 700}
	.text_black p a{color:#c90047}
	.text_black p a:hover{text-decoration: none}
	.switch_plan{padding: 60px 0}
	.switch_plan h2 ,.features h2{font-weight:700;margin-top:0;margin-bottom:20px;color:#000;
		font-size:30px}
	.switch_plan p{font-size:16px;margin-bottom: 0 0 10px;font-weight:400;
		color: #000}
	.features img{width:13%;height:8%;margin: auto;}
	.features .col-md-4{padding: 10px 15px}
	.features .col-md-4 h4{margin-top: 30px;margin-bottom: 10px;font-size: 18px;font-weight: 900;color: #222}
	.features .col-md-4 p{margin-top: 20px;margin-bottom: 10px;font-size: 14px;
		font-weight: 400;color: #101010 !important}
	.cust_feedback{padding:60px 0}
	.gray_part{padding-top: 60px;background-color:#f7f7f7}
	.gray_part h2,.plans_pricing h2{font-size:30px;font-weight:700;color:#222}
	.cust_feedback .cust_info{margin-bottom:20px;padding-left:9% }
	.cust_feedback .cust_info img{width:65px;border-radius:50%;display:inline-block;}
	.cust_feedback .cust_info .cust_name{padding: 5px 10px;display: inline-block;vertical-align: middle;}
	.cust_name h4{color:#222;font-weight:600;font-size: 16px;margin-bottom: 
		0}
	.cust_name p{margin-bottom:10px;font-size:16px;text-align:left;
		font-weight:400;color: #000 !important}
	.cust_text{padding: 5px 9%;margin-top: 15px;height:75px;color: #222}
	.cust_text p{font-size: 16px;margin-bottom: 10px;text-align: left;
	}
	.carousel .item{padding-right:20px;padding-right:20px}
	.slideshow{padding:15px;position:relative;overflow: hidden;}
	.slider{margin:45px auto;background-color:#fff}
	.inner_slider{padding:30px 10px;border:2px solid #eee;height:262px}
	/*.carousel-inner{background-color:#fff}*/
	.inner_slider .carousel{/*border:1px solid;*/padding:20px 10%}
	.carousel-indicators li{background-color:#ccc !important;}
	.carousel-indicators .active{background-color:#c90047 !important}
	.plans_pricing p{margin-bottom:10px;font-size: 16px;color:#101010 !important}
	.plans_pricing .col-md-12{padding:10px 15px}
	.plans_pricing .col-md-12 .col-md-6{padding-right:15px;padding-left:15px;}
	.plans_pricing .col-md-11 p{font-size:14px !important}
	.plans_pricing h2,.companies h2,.monthly_plans h2{font-size:30px;font-weight:700;color:#222;margin-bottom: 20px}
	.plans_pricing a,.plans_pricing a:hover,.first_para a,.first_para a:hover{color:#000;text-decoration: underline;}
	.btn_view_all{margin:0 496px;border:2px solid #fff;background-color:#c90047;color:#fff;font-weight: 700;border-radius:5px;font-size:16px;padding:8px 18px}
	.btn_view_all:hover{background:#fff;border:2px solid #c90047;color: #c90047 !important;display: block;padding:8px 18px}
	.companies{padding:40px 0}
	.companies_slider{margin-top: 4%}
	.companies img{height: 66px;width:82%}
	.companies .marg{margin: 0% 4%}
	.companies .cin{margin-top: 110%;}
	.monthly_plans .first_para{margin-bottom:10px;font-size: 16px;color:#101010 !important;font-size:16px}
	.monthly_plans .tables{margin-top:20px}
	.box{border:1px solid lightgray;padding:3%;width:93% !important;}
	.box th{padding:8px;font-weight:750;font-size: 14px;text-align: center !important;}
	.box tr{border-bottom:1px solid #ddd;}
	.box tr td{font-size: 15px;padding:4% !important;text-align:center !important;}
	.tables .details_table{width: 92.5% !important;margin-left:20px;}
	.contact_us{margin-top:5%;margin-left:4%}
	.contact_us p a{color: #222;text-decoration:underline;font-weight:700 !important;font-size:15px}
	.contact_us p{margin-left:25px;margin-bottom: 25px}
	.cashback{background-color:#f7f7f7;padding: 10px}
	.cashback p{margin-bottom: 0}
	.cashback img{height: 40px;width: 42px}
	.banner{position:relative;height:50vh;margin-bottom: 30px;
		background-color:#c90047;background-image: url("../images/banner.jpg");
		margin-top: 64px}
	.banner h1{font-size:36px;margin-top:20px;margin-bottom:15px;font-weight:700;color: #fff}
	.bann_txt{padding-top: 60px}
	.banner p{font-size:16px;font-weight: 400;color:#fff !important;margin-bottom: 30px}
	.banner .btn1,.banner .btn1:hover{background:#c90047;border:2px solid #fff;font-size:16px;
		font-weight: 700;color:#fff;padding:10px 20px;text-align:center;
		text-transform:uppercase;}
	.head{position: fixed;top: 0;left: 0;z-index: 100;background: #fff;
		width:100%;border:1px solid #e3e3e3;padding-top:5px;padding-bottom:5px}
	.head img{margin-top: 5px;display: inline-block;}
	.head_ul{list-style: none;}
	.head_ul li{/*float:left;*/margin-right: 50px;margin-top:15px;margin-bottom: 10px;font-weight: bold;cursor:pointer;
	padding-bottom: 5px;padding-top: 10px}
	.head_ul li:hover , .signIn:hover{border-bottom: 2px solid #c53c54;}
	.head_ul_02{list-style: none;cursor: pointer;}
	.head li{float: right;margin-top:5px;margin-bottom: 10px;font-weight: 600;
	}
	.signIn{padding-top: 10px;}
	.head_ul_02 button{margin-right: 30px;background: #62b9ff !important;padding: 6px 8px;color: #fff;
	border-radius: 10px;border: 2px solid #62b9ff;}
	.head_ul_02 button:hover{background: #fff !important;border-color:#62b9ff;color:#62b9ff }
	.carousel-control.left , .carousel-control.right{background:none !important}
	.footer{border-top:1px solid #999;padding-top: 50px}
	.footer .col-md-2 ul{list-style: none}
	.footer .col-md-2 ul li a{color:#222;text-decoration:none;font-weight:600;font-size: 13px;text-transform: capitalize; }
	.footer .col-md-2  ul li{padding-bottom: 10px}
	.footer .col-md-2 ul li a:hover{color: #c90047}
	.footer .col-md-3 h3{color:#222;font-weight:600;font-size: 14px;margin-bottom: 10px;margin-top:0}
	.most_read_ul{list-style:none;padding-left:0}
	.most_read_ul li a{text-decoration:none;font-size:14px;font-weight:400;color:#222;}
	.most_read_ul li{padding-left: 13px;margin-bottom:10px;text-align:left;}
	.most_read_ul li span{color:#222;font-weight:400;font-size:9px;font-style:italic;}
	.footer .col-md-3 p{margin-top:0;text-align:left}
	.footer .col-md-3 .input_email{height:50px;border-radius:5px;border:1px solid #222;border-top-right-radius:0;border-bottom-right-radius:0;padding-left: 10px;color: #fff !important}
	.footer .col-md-3 button{height:50px;margin-left:-4px;border-radius:5px;border-top-left-radius:0;border-bottom-left-radius:0;
		width:70px;;border:1px solid #222;}
	/*.footer .col-md-3{border:1px solid;}*/
	/*.lower_footer img{vertical-align: middle;}
	.lower_footer{padding-top: 35px;overflow: auto;}
	.lower_footer p{margin-top:10px;margin-bottom: 10px;font-size:14px;color: #101010 !important}
	.lower_footer ul{list-style:none;margin-left:37%;padding-top: 20px}
	.lower_footer ul li{float: left;border-radius:50%;margin:1px 10px;color: #fff;font-size: 10px;height:30px;width:30px;background:#222}
	.lower_footer ul li a{text-align: center;display: block}
	.lower_footer ul li a i{font-size: 15px;color: #fff;line-height: 15px;padding-top: 7px}*/
	.lower_footer .col-md-12 img{margin-left:43%}
	.made_in{height: 60px;background:#222;position: relative;bottom:0;left: 0;
		color:#8b8b8b!important;font-size:14px;font-weight:400;padding:20px}
	.fheart{color: #c90047;}
	.lower_footer ul{list-style:none;margin-left:37%;padding-top: 20px}
	.lower_footer ul li{float: left;border-radius:50%;margin:1px 10px;color: #fff;font-size: 10px;height:30px;width:30px;background:#222}
	.lower_footer ul li:hover{background:#c90047}
	.lower_footer ul li a{text-align: center;display: block}
	.lower_footer ul li a i{font-size: 15px;color: #fff;line-height: 15px;padding-top: 7px}
	.lower_footer p{margin-top:10px;margin-bottom: 10px;font-size:14px;color: #101010 !important}
	.lower_footer{padding-top: 35px;padding-bottom: 30px}
	.calculator input{border:none;border-bottom:2px solid #222;outline:none;
		padding:0 10px;background-color:#f7f7f7;margin-top:25px;}
	.calculator small{font-size:14px;}
	.calculator button{width:30%;margin:auto;font-size:20px;color:#222;background-color:#ffc340;border-radius:5px;margin-top:20px}
	.calc{background-color:#f7f7f7;padding:10px;height: 158px;}

	.calculator_text{padding-top:11%;border:1px solid rgb(247,247,247);height: 314px;border-top:none;}
	.calculator_text .first_p{font-weight:700;color:#222}
	.calculator_text .second_p{margin: 1% 16% 0 16%;font-weight:500;color:#101010 !important}

}